.vibecheck-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.vibecheck-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  position: relative; /* Ensure positioning context for close text */
}

.close-text {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px; /* Adjust size as needed */
  color: rgba(0, 0, 0, 0.6); /* Slightly shaded color */
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.close-text:hover {
  color: rgba(0, 0, 0, 1); /* Darker shade on hover */
}

.mood-scale {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mood-scale img {
  width: 40px;
  height: 40px;
}

.additional-vibes {
  margin-top: 20px;
}

.additional-vibe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.additional-vibe img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.note {
  margin-top: 20px;
}

.note textarea {
  width: 100%;
  height: 60px;
}

.share {
  margin-top: 20px;
}

.share input {
  margin-right: 5px;
}

button {
  margin-top: 20px;
  background-color: #000; /* Black button background */
  color: white; /* White text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #333; /* Darker shade of black on hover */
}
